.navBar {
    background-color: #0071BC;
    border-bottom: 1px solid #e7e7e7;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    font-family: 'Amaranth', sans-serif;
}

.navBar a {
    color: #fff;
    text-decoration: none;
}

.ColorA {
    color: rgb(26, 26, 26);
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
}

li {
    margin-right: 30px;
    font-size: 20px;
    color: #fff;
}

.log {
    margin-left: 50px;
}


.imageDesign {
    margin-right: 10px;
    padding: 2px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 60px;
    margin-top: 3px;
}

@media screen and (max-width: 900px) {
    #imgDesk {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    #imgRes {
        display: none;
    }
}

.login-nav-align {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navBar p {
    text-decoration: none;
}

.ingresar {
    margin-right: 30px;
    font-size: 20px;
    color: #fff;
}

.navBar a:hover {
    color: white;
    text-shadow: #e7e7e7 0px 0px 3px;
}