.searchbar-container {
    margin-top: 110px;
    display: flex;
    justify-content: center;
}

.cards-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 80vh;
}

.card-align {
    margin-left: 30px;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 10px;
}

#MisClases select {
    height: 100px;
}

#motivo{
    resize: none;
    margin-left: 10px;
    margin-right: 10px;
}

.calificacion {
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width: 390px) {
    .searchbar-container {
        margin-left: 30px;
    }

    .responsive-table {
        font-size: 0.6rem;
    }

    .adjustbutton {
        font-size: 10px !important;
        width: 50px;
        height: 30px;
        margin-right: 0% !important;
    }
}